<form name="form" novalidate>
	IPC info:<br>
	<label>
		<textarea name="ipc_info" [(ngModel)]="ipc_info" cols="40" rows="5"></textarea>
	</label>
	<br>
	Remote data:<br>
	<label>
		<textarea name="remote_info" [(ngModel)]="remote_info" cols="40" rows="5"></textarea>
	</label>
	<br>
	<button type="submit" (click)="sendClick()">Send</button>
</form>
